body {
  background-color: black;
}
svg {
  width: 1000px;
  height: 750px;
  top: 30px;
  left: 213px;
  position: absolute;
  background-color: lightgray;
}
.svg-flex-container {
  width: 1000px;
  height: 750px;
  top: 30px;
  left: 213px;
  position: absolute;
  background-color: lightgray;
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  height: 750px;
}
.sidebar .sidebar-container {
  overflow-y: scroll;
  height: 400px;
}
.sidebar .sidebar-container ul {
  list-style: none;
}

.sidebar .sidebar-container ul > .group-header {
  color: snow;
  display: flex;
  flex-direction: row;
}

.sidebar .sidebar-container ul > .group-header > .group-header-item {
  padding: 5px;
}

.sidebar .mouse-point {
  padding: 10px;
  height: 40px;
  background-color: #2d2121;
  color: snow;
}
.slider-bar {
  color: snow;
  padding: 10px;
  width: 90%;
}

.nav-container .tool-item {
  margin: 20px;
  color: snow;
}

.point-text {
  color: snow;
}
.gl-container {
  width: 115;
}
.left-bar {
  position: absolute;
  top: 30px;
  left: 0;
  width: 212.5px;
  height: 750px;
  background-color: snow;
  overflow-y: scroll;
  overflow-x: unset;
}
.left-bar-name-group {
  font-size: 12px;
}

.left-bar-list {
  padding-left: 10px;
  list-style: none;
}

.right-bar {
  position: absolute;
  top: 30px;
  right: 0;
  width: 226.5px;
  height: 750px;
  background-color: snow;
}
.mouse-point {
  position: absolute;
  right: 0;
  top: 0;
  color: snow;
}
.camera-view {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 150px;
}
.right-bar-group {
  padding: 10px;
}
.matrix {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.matrix .mtx-line {
  display: inline-flex;
}
.matrix .mtx-line input {
  width: 39px;
}
