body {
    background-color: #2b292a;
}

svg {
    width: 1152px;
    height: 750px;
    display: block;
    background-color: snow;
}

.nav-container {
    display: flex;
    flex-direction: row;


}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {

    width: 20%;
    height: 750px;
    background-color: #504c4c;
}

.sidebar .sidebar-container ul {
    list-style: none;
}

.sidebar .sidebar-container ul > .group-header {
    color: snow;
    display: flex;
    flex-direction: row;
}

.sidebar .sidebar-container ul > .group-header > .group-header-item {
    padding: 5px;
}

.sidebar .mouse-point {
    padding: 10px;
    height: 40px;
    background-color: black;
    color: snow;
}

.nav-container .tool-item {
    margin: 20px;
    color: snow;

}

.point-text {
    color: snow;
}
